<html>
<head>
<meta charset="utf8"/>
<link rel="stylesheet" href="css/style.css" type="text/css">
<script type="text/javascript" charset="utf-8" src="js/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8" src="js/change.js"></script>
</head>
<body>
<div style="height:2%">
  Primer Jugador: {first}
</div>
<table style="width:100%;height:100%;text-align:center">
<tr style="width:100%;height:19%;">
  <td style="width:20%;" class="{c1}_change">{v1}</td>
  <td style="width:20%;" class="{c2}_change">{v2}</td>
  <td style="width:20%;" class="{c3}_change">{v3}</td>
  <td style="width:20%;" class="{c4}_change">{v4}</td>
  <td style="width:20%;" class="{c5}_change">{v5}</td>
</tr>
<tr style="width:100%;height:19%;">
  <td style="width:20%;" class="{c6}_change">{v6}</td>
  <td style="width:20%;" class="{c7}_change">{v7}</td>
  <td style="width:20%;" class="{c8}_change">{v8}</td>
  <td style="width:20%;" class="{c9}_change">{v9}</td>
  <td style="width:20%;" class="{c10}_change">{v10}</td>
</tr>
<tr style="width:100%;height:19%;">
  <td style="width:20%;" class="{c11}_change">{v11}</td>
  <td style="width:20%;" class="{c12}_change">{v12}</td>
  <td style="width:20%;" class="{c13}_change">{v13}</td>
  <td style="width:20%;" class="{c14}_change">{v14}</td>
  <td style="width:20%;" class="{c15}_change">{v15}</td>
</tr>
<tr style="width:100%;height:19%;">
  <td style="width:20%;" class="{c16}_change">{v16}</td>
  <td style="width:20%;" class="{c17}_change">{v17}</td>
  <td style="width:20%;" class="{c18}_change">{v18}</td>
  <td style="width:20%;" class="{c19}_change">{v19}</td>
  <td style="width:20%;" class="{c20}_change">{v20}</td>
</tr>
<tr style="width:100%;height:19%;">
  <td style="width:20%;" class="{c21}_change">{v21}</td>
  <td style="width:20%;" class="{c22}_change">{v22}</td>
  <td style="width:20%;" class="{c23}_change">{v23}</td>
  <td style="width:20%;" class="{c24}_change">{v24}</td>
  <td style="width:20%;" class="{c25}_change">{v25}</td>
</tr>
</table>
</body>
