<html>
<head>
<meta charset="utf8"/>
<link rel="stylesheet" href="css/style.css" type="text/css">
<script type="text/javascript" charset="utf-8" src="js/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8" src="js/spies.js"></script>
<title>SOLO ESPÍAS</title>
</head>
<body>
<table style="width:100%;height:100%;text-align:center">
<tr style="width:100%;height:20%;">
  <td style="width:20%;" class="{c1}"><span>{v1}</span></td>
  <td style="width:20%;" class="{c2}"><span>{v2}</span></td>
  <td style="width:20%;" class="{c3}"><span>{v3}</span></td>
  <td style="width:20%;" class="{c4}"><span>{v4}</span></td>
  <td style="width:20%;" class="{c5}"><span>{v5}</span></td>
</tr>
<tr style="width:100%;height:20%;">
  <td style="width:20%;" class="{c6}"><span>{v6}</span></td>
  <td style="width:20%;" class="{c7}"><span>{v7}</span></td>
  <td style="width:20%;" class="{c8}"><span>{v8}</span></td>
  <td style="width:20%;" class="{c9}"><span>{v9}</span></td>
  <td style="width:20%;" class="{c10}"><span>{v10}</span></td>
</tr>
<tr style="width:100%;height:20%;">
  <td style="width:20%;" class="{c11}"><span>{v11}</span></td>
  <td style="width:20%;" class="{c12}"><span>{v12}</span></td>
  <td style="width:20%;" class="{c13}"><span>{v13}</span></td>
  <td style="width:20%;" class="{c14}"><span>{v14}</span></td>
  <td style="width:20%;" class="{c15}"><span>{v15}</span></td>
</tr>
<tr style="width:100%;height:20%;">
  <td style="width:20%;" class="{c16}"><span>{v16}</span></td>
  <td style="width:20%;" class="{c17}"><span>{v17}</span></td>
  <td style="width:20%;" class="{c18}"><span>{v18}</span></td>
  <td style="width:20%;" class="{c19}"><span>{v19}</span></td>
  <td style="width:20%;" class="{c20}"><span>{v20}</span></td>
</tr>
<tr style="width:100%;height:20%;">
  <td style="width:20%;" class="{c21}"><span>{v21}</span></td>
  <td style="width:20%;" class="{c22}"><span>{v22}</span></td>
  <td style="width:20%;" class="{c23}"><span>{v23}</span></td>
  <td style="width:20%;" class="{c24}"><span>{v24}</span></td>
  <td style="width:20%;" class="{c25}"><span>{v25}</span></td>
</tr>
</table>
</body>
